@import uk.gov.hmrc.hmrcfrontend.views.html.components.CharacterCount
@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    hmrcCharacterCount: HmrcCharacterCount,
    govukInput: GovukInput,
    govukButton: GovukButton,
    tasklistLink: components.tasklistLink
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("whatIsTheReasonForMakingADisclosureNow.title"))) {

    @formHelper(action = controllers.reason.routes.WhatIsTheReasonForMakingADisclosureNowController.onSubmit(mode)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @hmrcCharacterCount(
            CharacterCount(
                id = "value",
                name = "value",
                maxLength = Some(5000), 
                label = Label(content = messages("whatIsTheReasonForMakingADisclosureNow.heading")).asPageHeading(),
                value = form("value").value,
                errorMessage = form("value").error.map(err => ErrorMessage(content = Text(messages(err.message, err.args:_*))))
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.saveAndContinue")).withAttribute("id","continue")
        )
    }
    @tasklistLink()
}
