@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukDateInput: GovukDateInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("propertyIsNoLongerBeingLetOut.title"))) {

    @formHelper(action = controllers.letting.routes.PropertyIsNoLongerBeingLetOutController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form, errorLinkOverrides = Map("value" -> "value.day")))
        }

        @govukDateInput(
            DateViewModel(
                form   = form,
                id     = "value",
                legend = LegendViewModel(messages("propertyIsNoLongerBeingLetOut.heading")).asPageHeading()
            )
            .withHint(HintViewModel(messages("propertyIsNoLongerBeingLetOut.hint")))
        )

        @govukButton(
            ButtonViewModel(messages("site.saveAndContinue")).withAttribute("id","continue")
        )
    }
}
