@import "location-autocomplete.min";

.govuk-back-link{
    display: none;
}
   
.js-enabled  .govuk-back-link{
    display: inline-block;
}
   
.autocomplete__input {
    font-family: inherit;
}

.govuk-radios__label { hyphens: auto; }