@import "location-autocomplete.min";

.govuk-back-link{
    display: none;
}
   
.js-enabled  .govuk-back-link{
    display: inline-block;
}
   
.autocomplete__input {
    font-family: inherit;
}

.govuk-summary-list__only_key {
    width: 100%;
}

.govuk-radios__label { hyphens: auto; }

.govuk-header__logo {
    width: 25%;
}

.govuk-header__content {
    width: 75%;
}